<div class="container">
  <div class="clr-column">

    <div class="card">
      <div class="card-header">
        Profile
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img src="https://avatars0.githubusercontent.com/u/16335321?v=4" class="card-media-image">
          <div class="card-media-description">
            <span class="card-media-title">
              {{user?.name}}
            </span>
            <span class="card-media-text">
              Passionate guy about Angular, Node, IoT, Big Data and Distributed Computing.
            </span>
          </div>
        </div>
        <div class="card-text">
        </div>
      </div>
      <div class="card-footer">
        <a href="https://github.com/prajapatijayesh" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        &nbsp;
        <a href="https://www.linkedin.com/in/prajapatijayesh/" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>